.terms{
    padding: 20px 0 50px 0;
    height: 100%;
    background: var(--section-bg);
}
.terms__title, .terms__subtitle{
    text-transform: uppercase;
}
.terms__title{
    font-size: 36px;
}
.terms__subtitle{
    font-size: 24px;
}
.terms__inner{
    text-align: left;
}
.terms__inner p{
    font-size: 18px;
}
@media (max-width: 768px) {
    .terms__title{
        font-size: 30px;
    }
    .terms__subtitle{
        font-size: 16px;
    }
}
@media (max-width: 576px) {
    .terms__title{
        font-size: 20px;
    }
    .terms__subtitle{
        font-size: 14px;
    }
}