.payment{
    height: 100%;
    background: var(--section-bg);
    padding: 20px 0 50px 0;
}
.payment__inner{
    text-align: left;
}
.payment__inner p{
    font-size: 18px;
    max-width: 700px;
}
.payment__title{
    font-size: 34px;
}
.payment__subtitle{
    font-size: 20px;
}
.payment__list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
    gap: 50px;
}

@media (max-width: 768px) {
    .payment__inner p{
        font-size: 16px;
    }
}
@media(max-width: 576px){
    .payment__title{
        font-size: 28px;
    }
    .payment__inner p{
        font-size: 14px;
    }
}